In [39]:
#standart normal dağılımın ortalası 0 standart sapması 1 dir
940/850
from scipy import stats
import pandas as pd
import numpy as np

In [12]:
stats.binom.cdf(45,100,0.5) #

0.18410080866334827

In [13]:
stats.binom.pmf(2,5,1/6)  #5 defa atılan bir zarın 2 defa 4 gelmesi

0.16075102880658435

In [14]:
mu=850
std=100
x=940

In [15]:
1-stats.norm.cdf(x,mu,std)

0.18406012534675953

In [16]:
#normal dağılımda büyüklük ve büyük eşitlik aynıdır

In [17]:
#z score kaç standart sapma uzaklıktasın ortalamadan onu verir

In [18]:
lambd=12
stats.poisson.pmf(14,lambd) #15 dakikada 14 sipariş gelme olasılığı %9 muş
#her 5 dakikada 4 sipariş gelen kafede

0.090488900183298

In [19]:
stats.binom.pmf(1,3,0.5)

0.375

In [20]:
# t dağılımın normal dağılımdan en büyük farkı normal dağılımdan biraz 
#daha küçük örneklemlere bir modifikasyonu serbestlik derecesi sample size küçük
#ise

In [21]:
x = [91.50, 94.18, 92.18, 95.39, 91.79, 89.07, 94.72, 89.21, 89.19, 90.95, 90.46, 93.21, 97.19, 97.04, 91.07, 92.75]
group = [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2]
df = pd.DataFrame({"yield":x, "group":group})
df

    yield  group
0   91.50      1
1   94.18      1
2   92.18      1
3   95.39      1
4   91.79      1
5   89.07      1
6   94.72      1
7   89.21      1
8   89.19      2
9   90.95      2
10  90.46      2
11  93.21      2
12  97.19      2
13  97.04      2
14  91.07      2
15  92.75      2

In [22]:
#statsitical tests t t test independent

In [32]:
indTest=stats.ttest_ind(df[df.group==1]["yield"],df[df.group==2]["yield"])

In [34]:
indTest.statistic

-0.3535908643461798

In [35]:
indTest.pvalue

0.7289136186068217

In [36]:
# Decision
alpha = 0.05
if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [41]:
stats.ttest_ind_from_stats(mean1=92.255,std1=2.39,nobs1=8,mean2=92.733,std2=2.98,nobs2=8)

Ttest_indResult(statistic=-0.353922390875553, pvalue=0.7286705530970293)

In [40]:
np.mean(df[df.group==1]["yield"])

92.25500000000001

In [ ]:
#p value büyük olduğu için fail to reject iki katalizörlerin ortalamaları geçerlidir şirket
#kullanabilir

In [ ]:
ind_test=stats.ttest_ind_from_stats(mean1=92.255,std1=2.39,nobs1=8,mean2=92.733,std2=2.98,nobs2=8)

In [42]:
indTest.statistic

-0.3535908643461798

In [43]:
indTest.pvalue

0.7289136186068217

In [48]:
test=stats.ttest_ind_from_stats(mean1=10.67,std1=3.895,nobs1=500,mean2=7.83,std2=4.224,nobs2=400)

Ttest_indResult(statistic=10.4676374161062, pvalue=2.8400233039750524e-24)

In [ ]:
#p value 2 değer için test.pvalue/2.