___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv('data.csv',encoding= 'unicode_escape')

**Check the head of the DataFrame.**

In [3]:
ecom.head()
ecom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

** How many rows and columns are there? **

In [4]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

** Show the statistical measurements of ecom dataset **

In [5]:
ecom.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

** What is the average Purchase Price? **

In [6]:
ecom.UnitPrice.mean()

4.611113626083471

** What were the highest and lowest purchase prices? **

In [7]:
ecom.UnitPrice.max()

38970.0

In [8]:
ecom.UnitPrice.min()

-11062.06

** List the country names and number of records belongs to each country **

In [9]:
dfr=ecom.groupby("Country").count()
dfr

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
Australia,1259,1259,1259,1259,1259,1259,1259
Austria,401,401,401,401,401,401,401
Bahrain,19,19,19,19,19,19,17
Belgium,2069,2069,2069,2069,2069,2069,2069
Brazil,32,32,32,32,32,32,32
Canada,151,151,151,151,151,151,151
Channel Islands,758,758,758,758,758,758,758
Cyprus,622,622,622,622,622,622,622
Czech Republic,30,30,30,30,30,30,30
Denmark,389,389,389,389,389,389,389
EIRE,8196,8196,8196,8196,8196,8196,7485
European Community,61,61,61,61,61,61,61
Finland,695,695,695,695,695,695,695
France,8557,8557,8557,8557,8557,8557,8491
Germany,9495,9495,9495,9495,9495,9495,9495
Greece,146,146,146,146,146,146,146
Hong Kong,288,288,288,288,288,288,0
Iceland,182,182,182,182,182,182,182
Israel,297,297,297,297,297,297,250
Italy,803,803,803,803,803,803,803
Japan,358,358,358,358,358,358,358
Lebanon,45,45,45,45,45,45,45
Lithuania,35,35,35,35,35,35,35
Malta,127,127,127,127,127,127,127
Netherlands,2371,2371,2371,2371,2371,2371,2371
Norway,1086,1086,1086,1086,1086,1086,1086
Poland,341,341,341,341,341,341,341
Portugal,1519,1519,1519,1519,1519,1519,1480
RSA,58,58,58,58,58,58,58
Saudi Arabia,10,10,10,10,10,10,10
Singapore,229,229,229,229,229,229,229
Spain,2533,2533,2533,2533,2533,2533,2533
Sweden,462,462,462,462,462,462,462
Switzerland,2002,2002,2002,2002,2002,2002,1877
USA,291,291,291,291,291,291,291
United Arab Emirates,68,68,68,68,68,68,68
United Kingdom,495478,495478,494024,495478,495478,495478,361878
Unspecified,446,446,446,446,446,446,244

** How many records are as Country United Kingdom? **

In [10]:
dfr[dfr.index == 'United Kingdom']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
United Kingdom,495478,495478,494024,495478,495478,495478,361878

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [11]:
ecom["Total"]=ecom["UnitPrice"]*ecom["Quantity"]
ecom["Total"]

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Total, Length: 541909, dtype: float64

** Show total pending amount according to the Countries **

In [12]:
spend=ecom.groupby("Country").Total.sum()
spend

Country
Australia               1.370773e+05
Austria                 1.015432e+04
Bahrain                 5.484000e+02
Belgium                 4.091096e+04
Brazil                  1.143600e+03
Canada                  3.666380e+03
Channel Islands         2.008629e+04
Cyprus                  1.294629e+04
Czech Republic          7.077200e+02
Denmark                 1.876814e+04
EIRE                    2.632768e+05
European Community      1.291750e+03
Finland                 2.232674e+04
France                  1.974039e+05
Germany                 2.216982e+05
Greece                  4.710520e+03
Hong Kong               1.011704e+04
Iceland                 4.310000e+03
Israel                  7.907820e+03
Italy                   1.689051e+04
Japan                   3.534062e+04
Lebanon                 1.693880e+03
Lithuania               1.661060e+03
Malta                   2.505470e+03
Netherlands             2.846615e+05
Norway                  3.516346e+04
Poland                  7.213140e+03
Portugal                2.936702e+04
RSA                     1.002310e+03
Saudi Arabia            1.311700e+02
Singapore               9.120390e+03
Spain                   5.477458e+04
Sweden                  3.659591e+04
Switzerland             5.638535e+04
USA                     1.730920e+03
United Arab Emirates    1.902280e+03
United Kingdom          8.187806e+06
Unspecified             4.749790e+03
Name: Total, dtype: float64

** Which Country spend least? **

In [13]:
spend.min()

131.17

** Calculate average of spending according to country with apply function? **

In [14]:
ecom.groupby("Country").apply(lambda x:x["Total"].mean())

Country
Australia               108.877895
Austria                  25.322494
Bahrain                  28.863158
Belgium                  19.773301
Brazil                   35.737500
Canada                   24.280662
Channel Islands          26.499063
Cyprus                   20.813971
Czech Republic           23.590667
Denmark                  48.247147
EIRE                     32.122599
European Community       21.176230
Finland                  32.124806
France                   23.069288
Germany                  23.348943
Greece                   32.263836
Hong Kong                35.128611
Iceland                  23.681319
Israel                   26.625657
Italy                    21.034259
Japan                    98.716816
Lebanon                  37.641778
Lithuania                47.458857
Malta                    19.728110
Netherlands             120.059696
Norway                   32.378877
Poland                   21.152903
Portugal                 19.333127
RSA                      17.281207
Saudi Arabia             13.117000
Singapore                39.827031
Spain                    21.624390
Sweden                   79.211926
Switzerland              28.164510
USA                       5.948179
United Arab Emirates     27.974706
United Kingdom           16.525065
Unspecified              10.649753
dtype: float64

In [ ]:
ecom

** Calculate average,mean,max of spending according to country with agg function? **

In [ ]:
ecom.["Country"].agg(["mean","max","min"])

** What is the max Total spending in whole dataset and show the records of that spending ?**

** How many people who live in Spain spend more than average Total ?**

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

** drop InvoiceDate2 and InvoiceDate columns permanently **

** Remove A, B, G and E from first 5 rows of ecom dataframe with a string method **

** take only Total and date columns with loc and craete a new df named ecom2 **

** take only InvoiceNo and CustomerID columns with iloc and craete a new df named ecom3 **

** Combine ecom2 and ecom3 with concat **

** Combine ecom2 and ecom3 with merge **

** Combine ecom2 and ecom3 with join **

# Congrats!